seperate location terms contain numbers, store them as panda dataframe

In [29]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [32]:
from os import listdir
from os.path import isfile, join
import re
import requests
import json
import pandas as pd

df = pd.read_csv('deepseek_samples.csv', encoding="UTF-8")
#remove duplication
df['doc_num'] = df['file_number'].str[:-2]
df = df.drop_duplicates(subset=['doc_num', 'location'])
sorted_df =df.sort_values(by=['file_number']).reset_index(drop = True)
sorted_df

     Unnamed: 0 file_number               location  length  doc_num
0           0.0    22_137_1  Finanzbehörde Hamburg    21.0   22_137
1           2.0   22_1695_2                DRS. 21     7.0  22_1695
2           8.0   22_2088_1          Flurstraße 15    14.0  22_2088
3          12.0   22_2088_1      Meerweinstraße 26    18.0  22_2088
4           9.0   22_2088_1           Vorhornweg 2    13.0  22_2088
..          ...         ...                    ...     ...      ...
754       847.0   22_8489_2         Paloma-Viertel    15.0  22_8489
755       844.0   22_8489_2      Bornplatzsynagoge    18.0  22_8489
756       845.0   22_8489_2              Oberhafen    10.0  22_8489
757       851.0   22_8489_2     Alsterdorfer Markt    19.0  22_8489
758       848.0   22_8489_2        Spielbudenplatz    16.0  22_8489

[759 rows x 5 columns]

In [33]:
df

,Unnamed: 0,file_number,location,length,doc_num
0,261.0,22_3490_2,- Vu Harburg – östlicher Binnenhafen,36.0,22_3490
1,690.0,22_6149_1,"Denickestraße, Harburg",36.0,22_6149
2,696.0,22_6265_1,"Stellinger Schweiz mit Amsinckpark,",35.0,22_6265
3,485.0,22_5428_1,Zeughausstraße 42,35.0,22_5428
4,753.0,22_7611_1,Stadtteilschule Fischbek-Falkenberg,35.0,22_7611
...,...,...,...,...,...
815,NaN,22_5213_2,Barmode-Süd,NaN,22_5213
817,NaN,22_5213_2,Lagerbrözen,NaN,22_5213
825,NaN,22_5213_2,Üthermord,NaN,22_5213
826,NaN,22_5213_2,Orbäderl,NaN,22_5213
832,NaN,22_5213_2,Magazinpark-Galbek,NaN,22_5213

In [34]:
numbers_rows = []
location_rows = []
for _, row in sorted_df.iterrows():
     # Regular expression pattern to check if numbers in a string
     pattern = r"\d"
     # Search for the pattern in the text
     if re.search(pattern, row['location']):
        numbers_rows.append({'location': row['location'].strip(), 'doc_num': row['file_number'][:-2]})
     else:
        location_rows.append({'location': row['location'].strip(), 'doc_num': row['file_number'][:-2]})

num_df = pd.DataFrame(numbers_rows)
loc_df = pd.DataFrame(location_rows)

In [35]:
num_df

                        location  doc_num
0                        DRS. 21  22_1695
1                  Flurstraße 15  22_2088
2              Meerweinstraße 26  22_2088
3                   Vorhornweg 2  22_2088
4             Mümmelmannsberg 75  22_2088
..                           ...      ...
241  Schmiedekoppel, 29, Hamburg  22_6994
242     Eichenhöhe, 9, Eißendorf  22_6994
243  Schmiedekoppel, 30, Hamburg  22_6994
244                  Neumarkt 40  22_7108
245              mentioned in 21  22_8489

[246 rows x 2 columns]

In [36]:
loc_df

                         location  doc_num
0           Finanzbehörde Hamburg   22_137
1          Schule Tel Emannstraße  22_2088
2    Stadtteilschule in Bergedorf  22_2088
3        Wolfgang-Borchert-Schule  22_2088
4          Elbinselquartierschule  22_2088
..                            ...      ...
508                Paloma-Viertel  22_8489
509             Bornplatzsynagoge  22_8489
510                     Oberhafen  22_8489
511            Alsterdorfer Markt  22_8489
512               Spielbudenplatz  22_8489

[513 rows x 2 columns]

In [37]:
#load the official LGV address table as reference
address_df = pd.read_csv('hamburg_address.csv')
address_df.head(100)

,fid,Thoroughfare,street_name,num_zusatz,cX,cY,stadtteil
0,1,H0600,Halenreie,4,10.161927,53.650829,Volksdorf
1,2,H0600,Halenreie,38,10.162457,53.653394,Volksdorf
2,3,H0600,Halenreie,36,10.162814,53.653190,Volksdorf
3,4,H0600,Halenreie,34,10.161265,53.653007,Volksdorf
4,5,H0600,Halenreie,21,10.160180,53.652818,Volksdorf
...,...,...,...,...,...,...,...
95,96,H0590,Haldesdorfer Straße,27,10.068794,53.597424,Bramfeld
96,97,H0590,Haldesdorfer Straße,26,10.068982,53.596997,Bramfeld
97,98,H0590,Haldesdorfer Straße,25,10.068330,53.597527,Bramfeld
98,99,H0590,Haldesdorfer Straße,24c,10.068267,53.597101,Bramfeld
99,100,H0590,Haldesdorfer Straße,24b,10.068566,53.597171,Bramfeld

In [38]:
# merge LGV house number with street name
address_df['combine'] = address_df['street_name'].str.lower() +  ' ' + address_df['num_zusatz']
address_df

,fid,Thoroughfare,street_name,num_zusatz,cX,cY,stadtteil,combine
0,1,H0600,Halenreie,4,10.161927,53.650829,Volksdorf,halenreie 4
1,2,H0600,Halenreie,38,10.162457,53.653394,Volksdorf,halenreie 38
2,3,H0600,Halenreie,36,10.162814,53.653190,Volksdorf,halenreie 36
3,4,H0600,Halenreie,34,10.161265,53.653007,Volksdorf,halenreie 34
4,5,H0600,Halenreie,21,10.160180,53.652818,Volksdorf,halenreie 21
...,...,...,...,...,...,...,...,...
296958,296959,T0260,Klgv. 310 Tarpenhöh,4,9.966001,53.615489,Niendorf,klgv. 310 tarpenhöh 4
296959,296960,T0140,Tannenhof,60b,10.093081,53.686626,Lemsahl-Mellingstedt,tannenhof 60b
296960,296961,T0140,Tannenhof,68,10.090965,53.686579,Lemsahl-Mellingstedt,tannenhof 68
296961,296962,T0140,Tannenhof,71,10.090558,53.686282,Lemsahl-Mellingstedt,tannenhof 71
296962,296963,T0170,Tannenweg,16c,10.016545,53.644344,Langenhorn,tannenweg 16c

In [39]:
# small letter geocoded location with house numbers, remove space
num_df['combine'] = num_df['location'].str.lower()
num_df

                        location  doc_num                      combine
0                        DRS. 21  22_1695                      drs. 21
1                  Flurstraße 15  22_2088                flurstraße 15
2              Meerweinstraße 26  22_2088            meerweinstraße 26
3                   Vorhornweg 2  22_2088                 vorhornweg 2
4             Mümmelmannsberg 75  22_2088           mümmelmannsberg 75
..                           ...      ...                          ...
241  Schmiedekoppel, 29, Hamburg  22_6994  schmiedekoppel, 29, hamburg
242     Eichenhöhe, 9, Eißendorf  22_6994     eichenhöhe, 9, eißendorf
243  Schmiedekoppel, 30, Hamburg  22_6994  schmiedekoppel, 30, hamburg
244                  Neumarkt 40  22_7108                  neumarkt 40
245              mentioned in 21  22_8489              mentioned in 21

[246 rows x 3 columns]

In [49]:
import numpy as np
# compare geocoded house number table with LGV data, return coordinates
# common_array = set(num_df['check'].values).intersection(set(address_df['combine']))
common_df = pd.merge(num_df, address_df, on=['combine'], how='inner')
common_df

,location,doc_num,combine,fid,Thoroughfare,street_name,num_zusatz,cX,cY,stadtteil
0,Flurstraße 15,22_2088,flurstraße 15,283707,F1670,Flurstraße,15,9.870252,53.590755,Lurup
1,Meerweinstraße 26,22_2088,meerweinstraße 26,123389,M1100,Meerweinstraße,26,10.026975,53.586985,Winterhude
2,Vorhornweg 2,22_2088,vorhornweg 2,31045,V1140,Vorhornweg,2,9.883608,53.590261,Lurup
3,Mümmelmannsberg 75,22_2088,mümmelmannsberg 75,116462,M3310,Mümmelmannsberg,75,10.148621,53.529890,Billstedt
4,Tangstedter Landstraße 300,22_2088,tangstedter landstraße 300,43965,T0080,Tangstedter Landstraße,300,10.028731,53.670945,Langenhorn
...,...,...,...,...,...,...,...,...,...,...
68,Brödermannsweg 17,22_5213,brödermannsweg 17,232591,B6120,Brödermannsweg,17,9.978596,53.605886,Groß Borstel
69,Gustav-Falke-Straße 19,22_5213,gustav-falke-straße 19,5517,G3420,Gustav-Falke-Straße,19,9.973422,53.573109,Eimsbüttel
70,Kanalplatz 15,22_5387,kanalplatz 15,196310,K0550,Kanalplatz,15,9.982139,53.467055,Harburg
71,Zeughausstraße 42,22_5428,zeughausstraße 42,12700,Z0170,Zeughausstraße,42,9.974184,53.547752,Neustadt
72,Billstraße 103,22_5996,billstraße 103,241428,B3330,Billstraße,103,10.043543,53.540591,Rothenburgsort

In [41]:
compare_df = common_df
compare_df.drop(columns=['stadtteil','cX','cY','num_zusatz','street_name','fid','Thoroughfare'],inplace=True) 
compare_df

                      location  doc_num                     combine
0                Flurstraße 15  22_2088               flurstraße 15
1            Meerweinstraße 26  22_2088           meerweinstraße 26
2                 Vorhornweg 2  22_2088                vorhornweg 2
3           Mümmelmannsberg 75  22_2088          mümmelmannsberg 75
4   Tangstedter Landstraße 300  22_2088  tangstedter landstraße 300
..                         ...      ...                         ...
68           Brödermannsweg 17  22_5213           brödermannsweg 17
69      Gustav-Falke-Straße 19  22_5213      gustav-falke-straße 19
70               Kanalplatz 15  22_5387               kanalplatz 15
71           Zeughausstraße 42  22_5428           zeughausstraße 42
72              Billstraße 103  22_5996              billstraße 103

[73 rows x 3 columns]

In [42]:
no_match = set(num_df['combine']) - set (compare_df['combine'])

no_match_df = pd.DataFrame(columns=num_df.columns)
no_match_df

Empty DataFrame
Columns: [location, doc_num, combine]
Index: []

In [43]:
no_match

{'- blohmstr. 22',
 '- borgfelder str. 16',
 '- brennerstr. 56',
 '- entry 35: "farnstraße',
 '- grade: a 13 h.d.',
 '- grade: e 9b',
 '- mitte altona, 2. bauabschnitt',
 '- osterbrookhöfe, 1. bauabschnitt',
 '- osterbrookhöfe, 2. bauabschnitt',
 '- region 1: baakenhafen 4',
 '- umweltwache f32',
 '21149 hamburg',
 '50 the denkmalschutzamt',
 'ahrenshooper straße 1-3',
 'alter hichtweg 200',
 'alternierter straße 38',
 'am feld 12',
 'am luisengymnasium, 0, bergedorf',
 'am überwinterungshafen, 143,',
 'amt f 22, westphalensweg 13',
 'amt m, hammer straße 30-34',
 'an der seebek, 3, bergedorf',
 'anckelmannstraße, 104,',
 'angerstraße, 339,',
 'angerstraße, 48,',
 'baakenhafen 4',
 'baererstraße, 0, harburg',
 'bahrsfmfeller straße 260',
 'barmbek-süd): 160 apartments',
 'barmotherapie 2',
 'baurstraße 20-22',
 'bei der paul-gerhardt-kirche 1-3',
 'berlin saimen 1',
 'billstraße 82-84',
 'borgsweg 176',
 'bovestraße, 6, wandsbek eilbek',
 'brandenbaum park 6',
 'brassenhof 3 (27)',
 'brehmweg, 2, barmbek',
 'budapester straße, 58,',
 'burgstraße, 333,',
 'caffamacherreihe, 1-310,',
 'caffamacherreihe, 430,',
 'card.-cohn-straße 2',
 'dauerbreiten 13',
 'dornentstraße 21',
 'dornentstraße 26',
 'drs. 21',
 'eichenhöhe, 9, eißendorf',
 'elbkinder grundschule 6',
 'elternfohlen 63',
 'elternfohlen 64',
 'ernst-henning-straße, 4, wandsbek',
 'eulenkamp, 465,',
 'exerzierplatz, 0, harburg',
 'frahmstraße 15a/b',
 'fränstraße 50',
 'ganztagsschule an der elbe 2',
 'georg-wilhelm-straße 112',
 'georg-wilhelm-straße, 77,',
 'geschossfläche 86',
 'glacischaussee, 2-4,',
 'glasweg 77–76',
 'goethe schule harburg 4',
 'greflewacher straße 40',
 'greifberug 50/40',
 'grundschule hasenweg 5',
 'grundschutz-after 200',
 'grundsportlade 33',
 'gymnasium altona 5',
 'gymnasium dörpsweg 5',
 'gymnasium lerchenfeld 4',
 'gymnasium oldenfelde 5',
 'gänsemarkt, 36, bezirk.',
 'harburger ring, 0, harburg',
 'hastedtstraße, 0, harburg',
 'hebei 26',
 'hemmingstadter weg 140',
 'hobbenkontrolle 51',
 'hobbenkontrolle 52',
 'hohenzollernring 57/61',
 'holmbrook 10-14',
 'in antwort zu frage 13',
 'islandstraße, 4, altona',
 'johanniswall, 42,',
 'kanalplatz: 150 apartments',
 'knoopstraße, 0, harburg',
 'koordrecht 117-119',
 'kroonhorst 117-119',
 'langenfort 68/70',
 'lerchenstraße, 82,',
 'lernherrling 10',
 'lohstapel 10',
 'lohstapel 100',
 'lohstapel 6',
 'ludwig-rosenberg-ring, 57,',
 'mentioned in 21',
 'mörkenstraße, 30,',
 'mührmehammaberg 75',
 'münchmannstraße 125',
 'münchmannstraße 60',
 'münchmannstraße 61',
 'neue grundschule eschenweg 1',
 'neugrabner markt, 34,',
 'neumarkt 40',
 'oldenfelde, 3, tonndorf',
 'otterbrock 17/19',
 'papenstraße, 12, wandsbek eilbek',
 'papenstraße, 6, wandsbek eilbek',
 'poberweg 34',
 'polizei, am alten posthaus 65',
 'polizei, blomkamp 23',
 'polizei, burchardtstraße 83',
 'polizei, caffamacherreihe 45',
 'polizei, carl-cohn-straße 39',
 'polizei, ellernreihe 13',
 'polizei, flughafenstraße 1-34',
 'polizei, garstedter weg 24',
 'polizei, koppelstraße 75',
 'polizei, lauterbachstraße 75',
 'polizei, möllner landstraße 44',
 'polizei, notkestraße 95',
 'polizei, oberaltenallee 42',
 'polizei, rennbahnstraße 12',
 'polizei, rissener dorfstraße 40',
 'polizei, scharbeutzer straße 15',
 'polizei, sedanstraße 28',
 'polizei, stresemannstraße 34-41',
 'polizei, troplowitzstraße 35',
 'prusselstraße 5',
 'rahlau, 75,',
 'recha-ellern-weg 1',
 'rellinger straße 13/15',
 'roßdamm, 104,',
 'röthenbauer damm 94',
 'schloßmühlendamm, 0, harburg',
 'schloßstraße, 60, innenhof,',
 'schlufsinnweg 1',
 'schlufsinnweg 23',
 'schmiedekoppel, 29, hamburg',
 'schmiedekoppel, 30, hamburg',
 'schule rönneburg 4',
 'schule sinstorfer weg 3',
 'selbststraße 50',
 'shigterreihe 1',
 'sievekingdamm, 20,',
 'spielbudenplatz, 31,',
 'spochtfertweg 100',
 'steindamm, 82,',
 'steinickestraße, 0, harburg',
 'strassebrunde 36',
 'strassebrunde 38',
 'struensee-gymnasium, 2, rahlstedt',
 'struenseestraße 20-32',
 'tragbadler-leadstraße 300',
 'turnverbin 27/29',
 'uferstraße, 9-10,',
 'unterling 3 (jahinsamfühlen)',
 'vogelhaltsnadeln 120',
 'von essen-straße 65',
 'von essen-straße 84',
 'vorwässerschraße 15',
 'vorwässerschraße 34',
 'walddörfer straße 330',
 'waltershofer damm, 14,',
 'wandsbeker zollstraße, 20,',
 'wentzelplatz, 136,',
 'wentzelplatz, 5-7,',
 'wiesendamm, 133,',
 'wiesenhof 3 (27)',
 'wilstorfer straße, 100,',
 'wördenmoorweg, 78,',
 'ölendorfer weg 80'}

In [44]:
no_match_df = num_df[num_df['combine'].isin(no_match)].sort_values(by='doc_num').reset_index(drop=True)
no_match_df

                         location  doc_num                       combine
0                         DRS. 21  22_1695                       drs. 21
1           Struenseestraße 20-32  22_2088         struenseestraße 20-32
2                   Baakenhafen 4  22_2088                 baakenhafen 4
3    Neue Grundschule Eschenweg 1  22_2088  neue grundschule eschenweg 1
4       - Region 1: Baakenhafen 4  22_2088     - region 1: baakenhafen 4
..                            ...      ...                           ...
168   Schmiedekoppel, 29, Hamburg  22_6994   schmiedekoppel, 29, hamburg
169      Eichenhöhe, 9, Eißendorf  22_6994      eichenhöhe, 9, eißendorf
170   Schmiedekoppel, 30, Hamburg  22_6994   schmiedekoppel, 30, hamburg
171                   Neumarkt 40  22_7108                   neumarkt 40
172               mentioned in 21  22_8489               mentioned in 21

[173 rows x 3 columns]

In [45]:
no_match_df['latitude'] = 0
no_match_df['longitude'] = 0
no_match_df

,location,doc_num,combine,latitude,longitude
0,DRS. 21,22_1695,drs. 21,0,0
1,Struenseestraße 20-32,22_2088,struenseestraße 20-32,0,0
2,Baakenhafen 4,22_2088,baakenhafen 4,0,0
3,Neue Grundschule Eschenweg 1,22_2088,neue grundschule eschenweg 1,0,0
4,- Region 1: Baakenhafen 4,22_2088,- region 1: baakenhafen 4,0,0
...,...,...,...,...,...
168,"Schmiedekoppel, 29, Hamburg",22_6994,"schmiedekoppel, 29, hamburg",0,0
169,"Eichenhöhe, 9, Eißendorf",22_6994,"eichenhöhe, 9, eißendorf",0,0
170,"Schmiedekoppel, 30, Hamburg",22_6994,"schmiedekoppel, 30, hamburg",0,0
171,Neumarkt 40,22_7108,neumarkt 40,0,0
172,mentioned in 21,22_8489,mentioned in 21,0,0

In [25]:
# call maapbox api for location tables that do not contain house numbers.

from time import sleep

def get_lat_lon(address):
    mapbox_token = "pk.eyJ1IjoiYXJpZWw1MDUiLCJhIjoiY20xcDZ0N3FkMDFhMzJucjJ4N29pbmkydyJ9.86xdZMNPXsuFeB-36Zr58Q"  # Replace with your actual Mapbox API key
    url = f"https://api.mapbox.com/search/geocode/v6/forward?q={address}"
    params = {
        'access_token': mapbox_token,
        'limit': 1,
        'language': 'de',  # German language
        'bbox': '9.65067,53.33928,10.39779,53.75625'  # Bounding box for Hamburg area
    }
   
    max_retries = 3
    for attempt in range(max_retries):
        try:
            response = requests.get(url, params=params)
            response.raise_for_status()  # Raise an exception for bad status codes
            data = response.json()
            
            if data['features']:
                coordinates = data['features'][0]['geometry']['coordinates']
                print(f"Location: {address}, Coordinates: {coordinates}")
                return address, coordinates[1], coordinates[0]
            else:
                print(f"No results found for address: {address}")
                return address, None, None
        except requests.exceptions.RequestException as e:
            print(f"Error: {e} for address: {address}")
            if attempt < max_retries - 1:
                print(f"Retrying... (Attempt {attempt + 2}/{max_retries})")
                sleep(1)  # Wait for 1 second before retrying
            else:
                print(f"Max retries reached for address: {address}")
                return address, None, None

def geocode_dataframe(no_match_df, location_column='location'):
    geocoded_data = []
    for address in no_match_df[location_column]:
        location, lat, lon = get_lat_lon(address)
        geocoded_data.append({'location': location, 'latitude': lat, 'longitude': lon})
        sleep(0.1)  # Add a small delay to avoid hitting rate limits
    
    geocoded_df = pd.DataFrame(geocoded_data)
    return pd.concat([no_match_df, geocoded_df[['latitude', 'longitude']]], axis=1)

# Usage example
geocoded_df = geocode_dataframe(no_match_df)
print(geocoded_df)

Location: DRS. 21, Coordinates: [9.989817, 53.458348]
No results found for address: - Region 1: Baakenhafen 4
Location: Struenseestraße 20-32, Coordinates: [9.94634, 53.547476]
No results found for address: Baakenhafen 4
Location: Neue Grundschule Eschenweg 1, Coordinates: [10.306554, 53.466294]
Location: Exerzierplatz, 0, Harburg, Coordinates: [9.966737, 53.457595]
Location: Papenstraße, 12, Wandsbek Eilbek, Coordinates: [10.038939, 53.564737]
Location: Baererstraße, 0, Harburg, Coordinates: [9.987821, 53.453656]
Location: Hastedtstraße, 0, Harburg, Coordinates: [9.979226, 53.457081]
Location: Bovestraße, 6, Wandsbek Eilbek, Coordinates: [10.080196, 53.572369]
Location: Papenstraße, 6, Wandsbek Eilbek, Coordinates: [10.038617, 53.56468]
Location: Steinickestraße, 0, Harburg, Coordinates: [9.976974, 53.455365]
Location: Am Luisengymnasium, 0, Bergedorf, Coordinates: [10.37225, 53.43078]
Location: Knoopstraße, 0, Harburg, Coordinates: [9.976792, 53.460527]
Location: Schloßmühlendamm, 0, Harburg, Coordinates: [9.982545, 53.460388]
Location: Harburger Ring, 0, Harburg, Coordinates: [9.984624, 53.458333]
Location: 21149 Hamburg, Coordinates: [9.853035, 53.470063]
Location: Am Feld 12, Coordinates: [9.932727, 53.548822]
Location: - Grade: E 9b, Coordinates: [9.795947, 53.387792]
Location: - Grade: A 13 h.d., Coordinates: [9.795947, 53.387792]
Location: Gänsemarkt, 36, Bezirk., Coordinates: [9.98782, 53.555291]
Location: - Entry 35: "farnstraße, Coordinates: [10.021441, 53.632395]
No results found for address: Gymnasium Oldenfelde 5
Location: Oldenfelde, 3, Tonndorf, Coordinates: [10.114118, 53.588356]
Location: Goethe Schule Harburg 4, Coordinates: [9.98774, 53.457101]
Location: Gymnasium Lerchenfeld 4, Coordinates: [10.030144, 53.56806]
Location: Grundschule Hasenweg 5, Coordinates: [10.122916, 53.638667]
Location: Gymnasium Dörpsweg 5, Coordinates: [9.910641, 53.607267]
Location: Brehmweg, 2, Barmbek, Coordinates: [9.948355, 53.586309]
Location: Schule Sinstorfer Weg 3, Coordinates: [9.968825, 53.433746]
No results found for address: Elbkinder Grundschule 6
Location: Schule Rönneburg 4, Coordinates: [10.006597, 53.434096]
Location: Gymnasium Altona 5, Coordinates: [10.359484, 53.4483]
Location: Islandstraße, 4, Altona, Coordinates: [10.164015, 53.625722]
Location: Ernst-Henning-Straße, 4, Wandsbek, Coordinates: [10.227925, 53.487612]
Location: An der Seebek, 3, Bergedorf, Coordinates: [10.371991, 53.431152]
Location: Struensee-Gymnasium, 2, Rahlstedt, Coordinates: [10.194891, 53.575975]
Location: Ganztagsschule an der Elbe 2, Coordinates: [9.961229, 53.549433]
No results found for address: Berlin Saimen 1
No results found for address: Poberweg 34
Location: Frahmstraße 15a/b, Coordinates: [9.823008, 53.564155]
No results found for address: Prusselstraße 5
No results found for address: Otterbrock 17/19
Location: Hohenzollernring 57/61, Coordinates: [9.916462, 53.551709]
Location: Holmbrook 10-14, Coordinates: [9.899292, 53.551812]
No results found for address: Dauerbreiten 13
Location: Recha-Ellern-Weg 1, Coordinates: [9.936859, 53.559465]
No results found for address: Mührmehammaberg 75
No results found for address: Münchmannstraße 61
No results found for address: Münchmannstraße 60
No results found for address: Lohstapel 6
No results found for address: Lohstapel 10
No results found for address: Lohstapel 100
Location: Greflewacher Straße 40, Coordinates: [9.99154, 53.371663]
No results found for address: Fränstraße 50
No results found for address: Dornentstraße 26
Location: Brandenbaum Park 6, Coordinates: [9.926092, 53.754565]
Location: Wiesenhof 3 (27), Coordinates: [10.173018, 53.610618]
No results found for address: Brassenhof 3 (27)
No results found for address: Shigterreihe 1
Location: Röthenbauer Damm 94, Coordinates: [9.814485, 53.65615]
Location: Ölendorfer Weg 80, Coordinates: [10.117502, 53.547962]
No results found for address: Münchmannstraße 125
Location: Dornentstraße 21, Coordinates: [9.989817, 53.458348]
Location: Rellinger Straße 13/15, Coordinates: [9.942383, 53.57414]
Location: Langenfort 68/70, Coordinates: [10.048417, 53.599411]
No results found for address: Strassebrunde 36
Location: Bei der Paul-Gerhardt-Kirche 1-3, Coordinates: [9.924472, 53.560264]
No results found for address: Strassebrunde 38
No results found for address: Vogelhaltsnadeln 120
Location: Glasweg 77–76, Coordinates: [10.005238, 53.592981]
No results found for address: Grundsportlade 33
Location: Grundschutz-After 200, Coordinates: [10.012248, 53.555147]
No results found for address: Hobbenkontrolle 51
No results found for address: Hobbenkontrolle 52
No results found for address: Lernherrling 10
No results found for address: Elternfohlen 64
No results found for address: Elternfohlen 63
No results found for address: Schlufsinnweg 1
Location: Card.-Cohn-Straße 2, Coordinates: [10.00814, 53.604655]
No results found for address: Schlufsinnweg 23
No results found for address: Borgsweg 176
No results found for address: Spochtfertweg 100
Location: Barmotherapie 2, Coordinates: [9.961229, 53.549433]
No results found for address: Greifberug 50/40
No results found for address: Tragbadler-Leadstraße 300
No results found for address: Turnverbin 27/29
Location: Alternierter Straße 38, Coordinates: [9.991231, 53.37173]
No results found for address: Vorwässerschraße 15
No results found for address: Vorwässerschraße 34
Location: Von Essen-Straße 65, Coordinates: [10.043978, 53.573906]
No results found for address: Unterling 3 (Jahinsamfühlen)
Location: Von Essen-Straße 84, Coordinates: [10.045776, 53.576484]
Location: Georg-Wilhelm-Straße 112, Coordinates: [9.992556, 53.504665]
Location: Bahrsfmfeller Straße 260, Coordinates: [9.994158, 53.375446]
Location: Baurstraße 20-22, Coordinates: [9.898032, 53.56152]
Location: Kroonhorst 117-119, Coordinates: [9.848803, 53.590682]
No results found for address: Koordrecht 117-119
Location: Hemmingstadter Weg 140, Coordinates: [9.856602, 53.565523]
No results found for address: Selbststraße 50
No results found for address: Hebei 26
Location: Alter Hichtweg 200, Coordinates: [10.012248, 53.555147]
Location: Ahrenshooper Straße 1-3, Coordinates: [10.132491, 53.600227]
Location: Walddörfer Straße 330, Coordinates: [10.098574, 53.583604]
No results found for address: - Osterbrookhöfe, 2. Bauabschnitt
No results found for address: - Osterbrookhöfe, 1. Bauabschnitt
Location: - Blohmstr. 22, Coordinates: [9.981145, 53.466513]
Location: Barmbek-Süd): 160 apartments, Coordinates: [10.041796, 53.580176]
Location: - Borgfelder Str. 16, Coordinates: [10.029122, 53.553783]
Location: - Mitte Altona, 2. Bauabschnitt, Coordinates: [10.358949, 53.448549]
Location: - Brennerstr. 56, Coordinates: [10.016562, 53.556351]
Location: Kanalplatz: 150 apartments, Coordinates: [9.983955, 53.466621]
Location: 50 The Denkmalschutzamt, Coordinates: [10.336904, 53.662766]
No results found for address: - Umweltwache F32
Location: steindamm, 82,, Coordinates: [10.016396, 53.554955]
Location: Polizei, Oberaltenallee 42, Coordinates: [10.031093, 53.571832]
Location: Polizei, Rennbahnstraße 12, Coordinates: [10.084666, 53.551906]
Location: ludwig-rosenberg-ring, 57,, Coordinates: [10.204361, 53.49137]
Location: Polizei, Garstedter Weg 24, Coordinates: [9.956108, 53.624507]
Location: wandsbeker zollstraße, 20,, Coordinates: [10.074299, 53.574992]
Location: georg-wilhelm-straße, 77,, Coordinates: [9.991809, 53.507287]
Location: Polizei, Koppelstraße 75, Coordinates: [9.945176, 53.593471]
Location: Amt M, Hammer Straße 30-34, Coordinates: [10.065095, 53.565561]
Location: schloßstraße, 60, innenhof,, Coordinates: [10.311757, 53.747881]
Location: Polizei, Lauterbachstraße 75, Coordinates: [9.985098, 53.459824]
Location: Amt F 22, Westphalensweg 13, Coordinates: [10.026054, 53.556397]
Location: am überwinterungshafen, 143,, Coordinates: [9.987872, 53.472512]
Location: Polizei, Notkestraße 95, Coordinates: [9.880293, 53.572338]
Location: Polizei, Troplowitzstraße 35, Coordinates: [9.962901, 53.584219]
Location: Polizei, Caffamacherreihe 45, Coordinates: [9.984042, 53.555239]
Location: Polizei, Carl-Cohn-Straße 39, Coordinates: [10.007475, 53.603594]
Location: Polizei, Am Alten Posthaus 65, Coordinates: [10.072694, 53.569175]
Location: Polizei, Flughafenstraße 1-34, Coordinates: [10.022139, 53.64036]
Location: Polizei, Möllner Landstraße 44, Coordinates: [10.244731, 53.551005]
Location: Polizei, Stresemannstraße 34-41, Coordinates: [9.919753, 53.564064]
Location: Polizei, Rissener Dorfstraße 40, Coordinates: [9.757079, 53.581003]
Location: Polizei, Scharbeutzer Straße 15, Coordinates: [10.151097, 53.600058]
Location: Polizei, Burchardtstraße 83, Coordinates: [9.999658, 53.549526]
Location: Polizei, Ellernreihe 13, Coordinates: [10.08022, 53.607848]
Location: caffamacherreihe, 1-310,, Coordinates: [9.984258, 53.555297]
Location: roßdamm, 104,, Coordinates: [9.973459, 53.52468]
Location: rahlau, 75,, Coordinates: [10.121152, 53.583178]
Location: eulenkamp, 465,, Coordinates: [10.248282, 53.484434]
Location: burgstraße, 333,, Coordinates: [10.039513, 53.557681]
Location: angerstraße, 48,, Coordinates: [10.036018, 53.561376]
Location: wiesendamm, 133,, Coordinates: [10.019149, 53.589245]
Location: uferstraße, 9-10,, Coordinates: [10.16591, 53.539708]
Location: angerstraße, 339,, Coordinates: [10.036065, 53.561392]
Location: Billstraße 82-84, Coordinates: [10.050446, 53.538114]
Location: johanniswall, 42,, Coordinates: [10.005068, 53.549525]
Location: wentzelplatz, 136,, Coordinates: [10.092095, 53.651743]
Location: wördenmoorweg, 78,, Coordinates: [10.018644, 53.654666]
Location: wentzelplatz, 5-7,, Coordinates: [10.09171, 53.651628]
Location: Polizei, Sedanstraße 28, Coordinates: [9.976077, 53.568995]
Location: sievekingdamm, 20,, Coordinates: [10.045941, 53.557847]
Location: lerchenstraße, 82,, Coordinates: [9.961617, 53.558924]
Location: waltershofer damm, 14,, Coordinates: [9.802936, 53.660306]
Location: wilstorfer straße, 100,, Coordinates: [9.987497, 53.453449]
Location: anckelmannstraße, 104,, Coordinates: [10.032824, 53.554054]
Location: caffamacherreihe, 430,, Coordinates: [9.984254, 53.555487]
Location: budapester straße, 58,, Coordinates: [9.966073, 53.554978]
Location: mörkenstraße, 30,, Coordinates: [9.945492, 53.549598]
Location: neugrabner markt, 34,, Coordinates: [9.850685, 53.469713]
Location: spielbudenplatz, 31,, Coordinates: [9.962694, 53.549084]
Location: glacischaussee, 2-4,, Coordinates: [9.972558, 53.553716]
Location: Polizei, Blomkamp 23, Coordinates: [9.849849, 53.576429]
No results found for address: Geschossfläche 86
Location: In Antwort zu Frage 13, Coordinates: [10.264484, 53.41435]
Location: Eichenhöhe, 9, Eißendorf, Coordinates: [9.95854, 53.453782]
Location: Schmiedekoppel, 29, Hamburg, Coordinates: [9.949578, 53.610576]
Location: Schmiedekoppel, 30, Hamburg, Coordinates: [9.948907, 53.610741]
Location: Neumarkt 40, Coordinates: [10.092696, 53.574994]
Location: mentioned in 21, Coordinates: [9.989817, 53.458348]
                         location  doc_num                       combine  \
0                         DRS. 21  22_1695                       drs. 21
1       - Region 1: Baakenhafen 4  22_2088     - region 1: baakenhafen 4
2           Struenseestraße 20-32  22_2088         struenseestraße 20-32
3                   Baakenhafen 4  22_2088                 baakenhafen 4
4    Neue Grundschule Eschenweg 1  22_2088  neue grundschule eschenweg 1
..                            ...      ...                           ...
168      Eichenhöhe, 9, Eißendorf  22_6994      eichenhöhe, 9, eißendorf
169   Schmiedekoppel, 29, Hamburg  22_6994   schmiedekoppel, 29, hamburg
170   Schmiedekoppel, 30, Hamburg  22_6994   schmiedekoppel, 30, hamburg
171                   Neumarkt 40  22_7108                   neumarkt 40
172               mentioned in 21  22_8489               mentioned in 21

     latitude  longitude   latitude  longitude
0           0          0  53.458348   9.989817
1           0          0        NaN        NaN
2           0          0  53.547476   9.946340
3           0          0        NaN        NaN
4           0          0  53.466294  10.306554
..        ...        ...        ...        ...
168         0          0  53.453782   9.958540
169         0          0  53.610576   9.949578
170         0          0  53.610741   9.948907
171         0          0  53.574994  10.092696
172         0          0  53.458348   9.989817

[173 rows x 7 columns]

In [55]:
geocoded_df

                         location  doc_num   latitude  longitude
0           Finanzbehörde Hamburg   22_137  53.550341  10.000654
1          Schule Tel Emannstraße  22_2088        NaN        NaN
2    Stadtteilschule in Bergedorf  22_2088  53.434192  10.371495
3        Wolfgang-Borchert-Schule  22_2088  53.622957   9.865630
4          Elbinselquartierschule  22_2088        NaN        NaN
..                            ...      ...        ...        ...
508                Paloma-Viertel  22_8489  53.463026   9.971797
509             Bornplatzsynagoge  22_8489        NaN        NaN
510                     Oberhafen  22_8489  53.545158  10.006878
511            Alsterdorfer Markt  22_8489  53.612342  10.024278
512               Spielbudenplatz  22_8489  53.549427   9.964723

[513 rows x 4 columns]

In [50]:
common_df

,location,doc_num,combine,fid,Thoroughfare,street_name,num_zusatz,cX,cY,stadtteil
0,Flurstraße 15,22_2088,flurstraße 15,283707,F1670,Flurstraße,15,9.870252,53.590755,Lurup
1,Meerweinstraße 26,22_2088,meerweinstraße 26,123389,M1100,Meerweinstraße,26,10.026975,53.586985,Winterhude
2,Vorhornweg 2,22_2088,vorhornweg 2,31045,V1140,Vorhornweg,2,9.883608,53.590261,Lurup
3,Mümmelmannsberg 75,22_2088,mümmelmannsberg 75,116462,M3310,Mümmelmannsberg,75,10.148621,53.529890,Billstedt
4,Tangstedter Landstraße 300,22_2088,tangstedter landstraße 300,43965,T0080,Tangstedter Landstraße,300,10.028731,53.670945,Langenhorn
...,...,...,...,...,...,...,...,...,...,...
68,Brödermannsweg 17,22_5213,brödermannsweg 17,232591,B6120,Brödermannsweg,17,9.978596,53.605886,Groß Borstel
69,Gustav-Falke-Straße 19,22_5213,gustav-falke-straße 19,5517,G3420,Gustav-Falke-Straße,19,9.973422,53.573109,Eimsbüttel
70,Kanalplatz 15,22_5387,kanalplatz 15,196310,K0550,Kanalplatz,15,9.982139,53.467055,Harburg
71,Zeughausstraße 42,22_5428,zeughausstraße 42,12700,Z0170,Zeughausstraße,42,9.974184,53.547752,Neustadt
72,Billstraße 103,22_5996,billstraße 103,241428,B3330,Billstraße,103,10.043543,53.540591,Rothenburgsort

In [51]:
import openpyxl
common_df.to_excel('geocode_deepseek_lgv.xlsx', index=False)
geocoded_df.to_excel('geocode_deepseek_mapbox.xlsx', index=False)

In [52]:
#geocoded addresses without house numbers with mapbox
geocoded_df = geocode_dataframe(loc_df)
print(geocoded_df)

Location: Finanzbehörde Hamburg, Coordinates: [10.000654, 53.550341]
No results found for address: Schule Tel Emannstraße
Location: Stadtteilschule in Bergedorf, Coordinates: [10.371495, 53.434192]
Location: Wolfgang-Borchert-Schule, Coordinates: [9.86563, 53.622957]
No results found for address: Elbinselquartierschule
Location: Heinrich-Helbing-Schule, Coordinates: [10.225871, 53.486153]
Location: Kiel er Straße, Coordinates: [10.303616, 53.524419]
No results found for address: ehemals an der Seebeck)
Location: Grundschule am Park, Coordinates: [10.392525, 53.749922]
Location: Eilbektal, Coordinates: [10.050823, 53.573157]
Location: Schule Sinstorf, Coordinates: [9.97602, 53.42438]
Location: Schule Ballerstaedtweg, Coordinates: [10.033888, 53.611339]
No results found for address: Deutsch-französisches Gymnasium
Location: Bundesstraße, Coordinates: [10.375612, 53.488439]
Location: knotenpunkt am Luisenhof, Coordinates: [10.11162, 53.60683]
Location: Bramfelder Weg, Coordinates: [10.108369, 53.610448]
Location: Gartenstadt, Coordinates: [10.080059, 53.590784]
Location: Luisenhof, Coordinates: [10.123993, 53.541684]
Location: beteiligungsprozess-farmsen, Coordinates: [10.115729, 53.611147]
Location: U-Bahnhof Farmsen, Coordinates: [10.115729, 53.611147]
Location: Saarlandstraße, Coordinates: [10.039472, 53.588991]
Location: Wellingsbüttel, Coordinates: [10.090028, 53.643725]
Location: Grete-Zabe-Weg, Coordinates: [10.055822, 53.577723]
Location: Harksheider Straße, Coordinates: [10.070715, 53.666102]
Location: Hamburger Straße, Coordinates: [10.384229, 53.57914]
Location: Oberaltenallee, Coordinates: [10.031668, 53.572397]
Location: Sieker Landstraße, Coordinates: [10.359809, 53.644583]
Location: Wellingsbüttler Weg, Coordinates: [10.071669, 53.641078]
Location: Overseering Ost, Coordinates: [10.37843, 53.449626]
Location: Sasel, Coordinates: [10.117789, 53.652269]
Location: Robert-Schumann-Straße, Coordinates: [9.983033, 53.667572]
Location: Bramfelder Straße, Coordinates: [10.052233, 53.587625]
Location: Ulzburger Straße, Coordinates: [10.077148, 53.658636]
Location: Poppenbüttler Landstraße, Coordinates: [10.08845, 53.64813]
Location: Alsterdorf, Coordinates: [10.024278, 53.612342]
Location: Gehlemgraben, Coordinates: [10.019512, 53.64925]
Location: Bramfeld, Coordinates: [10.078595, 53.61775]
Location: Rahlstedt, Coordinates: [10.194686, 53.577184]
Location: Loogestraße, Coordinates: [9.990129, 53.587252]
Location: Moorreye, Coordinates: [10.022203, 53.642983]
Location: Eppendorf, Coordinates: [9.987248, 53.590237]
Location: Fuhlsbüttel, Coordinates: [10.022444, 53.629796]
Location: Poppenbüttel, Coordinates: [10.07346, 53.656601]
Location: Tonndorf, Coordinates: [10.12757, 53.587154]
Location: Foorthkamp, Coordinates: [10.010782, 53.65959]
Location: Jenfeld, Coordinates: [10.134565, 53.57499]
Location: Langenhorn, Coordinates: [10.073721, 53.663869]
No results found for address: ### Wandsbek Bezirk
No results found for address: ### Harburg Bezirk
Location: Conventstraße, Coordinates: [10.038324, 53.564079]
No results found for address: ### Bergedorf Bezirk
Location: Hirschgraben, Coordinates: [10.042906, 53.563905]
Location: Veloroute Hannoversche Straße, Coordinates: [9.99173, 53.460664]
Location: Grundschule Neugraben, Coordinates: [9.867684, 53.463443]
Location: Fabriciusstraße, Bezirk Wandsbek, Coordinates: [10.067134, 53.606644]
Location: Bahnhof Rahlstedt, Coordinates: [10.194686, 53.577184]
Location: New-York-Ring, Coordinates: [10.019536, 53.602601]
Location: überseering, Coordinates: [10.017968, 53.60467]
Location: Amtsstraße), Coordinates: [10.161353, 53.60091]
Location: Dakarweg, Coordinates: [10.028958, 53.6027]
Location: Birkenallee, Coordinates: [10.364788, 53.415284]
Location: Tegelweg, Coordinates: [10.107974, 53.601461]
Location: Ellernreihe, Coordinates: [10.080249, 53.608843]
Location: U Alsterdorf, Coordinates: [10.024278, 53.612342]
No results found for address: Liliencronpark
Location: Sydneystraße, Coordinates: [10.014097, 53.605109]
Location: Kapstadtring, Coordinates: [10.027896, 53.602231]
Location: Hebebrandstraße, Coordinates: [10.036626, 53.60803]
Location: planetarium), jahnring, Coordinates: [10.012522, 53.599862]
Location: Gründgensstraße, Coordinates: [10.053728, 53.609811]
Location: U Kellinghusenstraße, Coordinates: [9.992138, 53.590709]
Location: U Hudtwalstraße, Coordinates: [10.007264, 53.631229]
Location: Scharbeutzer Straße, Coordinates: [10.141199, 53.600282]
Location: Haldesdorfer Straße, Coordinates: [10.080094, 53.600862]
Location: Rahlstedter Weg, Coordinates: [10.127937, 53.602054]
Location: Fabriciusstraße, Coordinates: [10.067134, 53.606644]
Location: Gustav-Seitz-Weg, Coordinates: [10.062113, 53.610261]
No results found for address: Planetarium)
Location: Eichenlohweg, Coordinates: [10.044074, 53.610436]
Location: Überseering, Coordinates: [10.017968, 53.60467]
Location: U Farmsen, Coordinates: [10.115729, 53.611147]
Location: Ohlsdorfer Straße, Coordinates: [10.005615, 53.599757]
Location: Alfred-Mahlau-Weg, Coordinates: [10.054312, 53.609044]
Location: Fritz-Flinte-Ring, Coordinates: [10.053308, 53.61291]
Location: S Rübenkamp, Coordinates: [10.035152, 53.603325]
Location: Jahnring, Coordinates: [10.012522, 53.599862]
Location: Steilshooper Allee, Coordinates: [10.067825, 53.608482]
Location: Einkaufszentrum Steilshoop, Coordinates: [10.05976, 53.610566]
Location: Forum Gymnasium Rahlstedt, Coordinates: [10.194686, 53.577184]
Location: mitte), Haldesdorfer Straße, Coordinates: [10.080094, 53.600862]
Location: sengelmannstraße,, Coordinates: [10.017307, 53.615837]
Location: tegelweg,, Coordinates: [10.107974, 53.601461]
Location: jahnring, Coordinates: [10.012522, 53.599862]
Location: hebebrandstraße, Coordinates: [10.036626, 53.60803]
No results found for address: liliencronpark,
Location: winterhuder kai, Coordinates: [9.992649, 53.595088]
Location: hindenburgstraße, Coordinates: [10.010841, 53.610225]
Location: hudtwalckerstraße, Coordinates: [9.996485, 53.594206]
Location: ohlsdorfer straße, Coordinates: [10.005615, 53.599757]
Location: überseering west,, Coordinates: [10.219426, 53.399193]
Location: kapstadtring süd,, Coordinates: [10.126788, 53.553612]
Location: bahnhof rahlstedt,, Coordinates: [10.159365, 53.603451]
Location: ohlsdorfer straße,, Coordinates: [10.005615, 53.599757]
Location: steilshooper allee,, Coordinates: [10.067825, 53.608482]
Location: kellinghusenstraße,, Coordinates: [9.992138, 53.590709]
Location: haldesdorfer straße, Coordinates: [10.080094, 53.600862]
Location: scharbeutzer straße,, Coordinates: [10.141199, 53.600282]
Location: u-bahnhof alsterdorf,, Coordinates: [10.003704, 53.609043]
Location: leinpfad,, Coordinates: [9.997143, 53.586746]
Location: rahlsedter weg, Coordinates: [10.127937, 53.602054]
Location: forum gymnasium rahlstedt,, Coordinates: [10.159365, 53.603451]
Location: birkenallee,, Coordinates: [10.364788, 53.415284]
Location: leinpfad"., Coordinates: [9.997143, 53.586746]
Location: goernestraße" or "hudtwalckerstraße, Coordinates: [9.990429, 53.589374]
Location: ellernreihe, Coordinates: [10.080249, 53.608843]
Location: rübenkamp,, Coordinates: [10.035152, 53.603325]
Location: tessenowweg,, Coordinates: [10.028155, 53.608593]
Location: sydneystraße,, Coordinates: [10.014097, 53.605109]
Location: himmelstraße,, Coordinates: [9.999929, 53.596729]
Location: Schule Redder,, Coordinates: [10.364508, 53.445325]
Location: Grundschule Hasenweg,, Coordinates: [10.119213, 53.638106]
Location: Carl-von-Ossietzky-Gymnasium,, Coordinates: [10.375038, 53.45431]
Location: Gymnasium Ohlstedt,, Coordinates: [10.1306, 53.7019]
Location: Grundschule Strenge,, Coordinates: [10.079856, 53.637179]
Location: Hamburg Center), Coordinates: [10.000654, 53.550341]
No results found for address: Regional Representative)
Location: - UNESCO World Heritage Sites, Coordinates: [9.753591, 53.699938]
Location: - Hamburg, Coordinates: [10.000654, 53.550341]
No results found for address: - Nordrhein-Westfalen
Location: Bahrenfeld, Coordinates: [9.928716, 53.553743]
Location: Neustadt, Coordinates: [10.159865, 53.546749]
Location: Schmilinskistraße, Coordinates: [10.013573, 53.55867]
Location: Billstedt, Coordinates: [10.116632, 53.531899]
Location: Harvestehude - Altona -, Coordinates: [9.963087, 53.564559]
Location: Borgfelde, Coordinates: [10.033234, 53.554248]
Location: Steenkamp, Coordinates: [9.886927, 53.570314]
Location: St Georg-Nord, Coordinates: [10.016208, 53.550277]
Location: Dulsberg - Eimsbüttel -, Coordinates: [9.944534, 53.575952]
Location: St Georg-Süd, Coordinates: [10.066129, 53.545946]
Location: Magistrale Holsteiner Chaussee, Coordinates: [9.910398, 53.630078]
Location: - Max-Born-Straße, Bahrenfeld, Coordinates: [9.887585, 53.574453]
Location: - Bahrenfeld, Hamburg, Coordinates: [9.891941, 53.573802]
Location: - Wacholderweg, Hamburg-Nord, Coordinates: [10.024441, 53.630656]
No results found for address: - Holstenquartier
Location: - Kressenweg, Lurup, Coordinates: [9.872344, 53.583171]
Location: - Franksche Siedlung, Hamburg-Nord, Coordinates: [10.196264, 53.429866]
Location: - Albert-Einstein-Ring, Bahrenfeld, Coordinates: [9.889665, 53.574832]
Location: - Diebsteich, Coordinates: [9.927957, 53.570437]
Location: - Vu Mitte Altona, Coordinates: [10.358679, 53.448383]
Location: - Vu Harburg – östlicher Binnenhafen, Coordinates: [9.983829, 53.545006]
Location: - Luruper Chaussee, Lurup, Coordinates: [9.890664, 53.574916]
Location: - Farnstraße, Hamburg-Nord, Coordinates: [10.022144, 53.632111]
No results found for address: Construction Timeline:
No results found for address: Operations and Employment:
No results found for address: Wasserkrater
Location: Bezirksamt Harburg,, Coordinates: [9.98774, 53.457101]
No results found for address: Hamburger Wälder
Location: Albert-Schweitzer-Schule, Coordinates: [10.11926, 53.579847]
Location: Stellingen, Coordinates: [9.928927, 53.597361]
Location: Julius-Leber-Schule, Coordinates: [9.694705, 53.58816]
Location: Blankenese, Coordinates: [9.822165, 53.555249]
Location: Maretstraße, Coordinates: [9.982207, 53.45523]
Location: Richard-Linde-Weg, Coordinates: [10.192006, 53.501219]
Location: Neubergerweg, Coordinates: [10.011116, 53.667617]
No results found for address: Nordwandsbek
Location: An den Teichwiesen, Coordinates: [10.151341, 53.649903]
Location: Bekassinenau, Coordinates: [10.13574, 53.615998]
Location: Buckhorn, Coordinates: [10.16133, 53.659214]
Location: Ohkamp, Coordinates: [10.021515, 53.637227]
Location: Altrahlstedt, Coordinates: [10.150972, 53.59945]
Location: Großlohering, Coordinates: [10.181042, 53.601154]
Location: Am Sooren, Coordinates: [10.176905, 53.593986]
Location: Edwin-Scharff-Ring, Coordinates: [10.046941, 53.613192]
Location: Bergstedt, Coordinates: [10.12587, 53.672786]
Location: Fahrenkrön, Coordinates: [10.097694, 53.617013]
Location: Neurahlstedt, Coordinates: [10.176556, 53.6115]
Location: An der Gartenstadt, Coordinates: [10.080059, 53.590784]
Location: Alsterredder, Coordinates: [10.100116, 53.65817]
Location: Redder, Coordinates: [10.350274, 53.414853]
Location: Richardstraße, Coordinates: [10.03721, 53.570332]
Location: Am See, Coordinates: [10.370717, 53.64454]
Location: Hasenweg, Coordinates: [10.119213, 53.638106]
Location: Müssenredder, Coordinates: [10.276979, 53.544975]
Location: Am Walde, Coordinates: [10.266266, 53.657943]
Location: Eenstock, Coordinates: [10.095055, 53.604578]
Location: Stockflethweg, Coordinates: [10.015421, 53.680028]
Location: An der Seebek, Coordinates: [10.059411, 53.602329]
Location: Islandstraße, Coordinates: [10.16135, 53.628034]
Location: Duvenstedter Markt, Coordinates: [10.107273, 53.704442]
Location: Ratsmühlendamm, Coordinates: [10.021375, 53.626766]
No results found for address: Am Eichtalpark
Location: Winterhude, Coordinates: [9.999345, 53.594895]
Location: Bovestraße, Coordinates: [10.082786, 53.570891]
Location: Marienthal, Coordinates: [10.081735, 53.565682]
Location: Krohnstieg, Coordinates: [10.005067, 53.648673]
Location: Öjendorfer Damm, Coordinates: [10.136001, 53.571258]
Location: Eulenkrugstraße, Coordinates: [10.175601, 53.647676]
Location: Nydamer Weg, Coordinates: [10.158258, 53.620001]
Location: Kamminer Straße, Coordinates: [10.140426, 53.619045]
Location: Hasselbrook, Coordinates: [10.046995, 53.564092]
Location: Jenfelder Straße, Coordinates: [10.116134, 53.574464]
Location: Brockdorffstraße, Coordinates: [10.160666, 53.596726]
Location: Oppelner Straße, Coordinates: [10.141545, 53.57332]
Location: Bandwirkerstraße, Coordinates: [10.06487, 53.576849]
Location: Ahrensburger Weg, Coordinates: [10.223618, 53.620168]
Location: Rahlstedter Höhe, Coordinates: [10.241327, 53.608682]
Location: Charlottenburger Straße, Coordinates: [10.346472, 53.437951]
Location: Erich Kästner Schule, Coordinates: [10.272844, 53.738362]
Location: Potsdamer Straße, Coordinates: [10.151502, 53.583605]
Location: Lämmersieth, Coordinates: [10.056411, 53.586278]
Location: Grützmühlenweg, Coordinates: [10.040704, 53.645651]
Location: Karlshöhe, Coordinates: [10.136735, 53.631143]
Location: Hinsbleek, Coordinates: [10.076855, 53.650906]
Location: Lemsahl-Mellingstedt, Coordinates: [10.086156, 53.682559]
Location: Appelhoff, Coordinates: [10.059861, 53.607673]
Location: Eckerkoppel, Coordinates: [10.105164, 53.598308]
Location: Schule Scheeßeler Kehre, Coordinates: [9.988164, 53.427178]
No results found for address: Marion-Dönhoff-Gymnasium
Location: REBBZ) Bergedorf, Coordinates: [10.371495, 53.434192]
Location: Gymnasium Hochrad, Coordinates: [9.871352, 53.554931]
Location: REBBZ) Winterhude, Coordinates: [9.999345, 53.594895]
Location: Nelson-Mandela-Schule, Coordinates: [10.225871, 53.486153]
Location: Grundschule Mendelstraße, Coordinates: [10.188658, 53.507696]
No results found for address: Stadtteil Kirchdorf)
Location: Veddelschule, Veddel, Hamburg-Mitte, Coordinates: [10.096685, 53.571685]
Location: Kirchwerder, Kirchwerder, Coordinates: [10.195457, 53.409228]
Location: Fahrenkrön, Fuhlsbüttel, Coordinates: [10.097694, 53.617013]
Location: Ohrnsweg, Eimsbüttel, Coordinates: [9.953509, 53.56615]
Location: Redder, Rahlstedt, Coordinates: [10.112497, 53.64744]
Location: Bekassinenauschule, Lurup, Coordinates: [10.25509, 53.663851]
Location: Charlottenburger Straße, St. Pauli, Coordinates: [10.346472, 53.437951]
Location: Döhrnstraße, Ottensen, Coordinates: [9.918305, 53.55384]
Location: Kamminer Straße, Billstedt, Coordinates: [10.140426, 53.619045]
Location: Fünfhausen-Warwisch, Fünfhausen, Coordinates: [10.047514, 53.4644]
Location: Mendelssohnstraße, Harvestehude, Coordinates: [9.999345, 53.574623]
Location: Stengelestraße, Eidelstedt, Coordinates: [9.917119, 53.60277]
Location: Mühlenberger Loch, Coordinates: [9.815638, 53.558288]
Location: Kirchwerder Wiesen, Coordinates: [10.180343, 53.389074]
No results found for address: Boberger Niederung
Location: Max-Brauer-Allee -, Coordinates: [9.94628, 53.557302]
Location: Langenhorst -, Coordinates: [10.295589, 53.718374]
Location: Winterhude, Coordinates: [9.999345, 53.594895]
No results found for address: Mührmehammberg
Location: Harvestehude, Coordinates: [9.999345, 53.574623]
Location: Othmarschen, Coordinates: [9.887357, 53.554372]
Location: St. Pauli, Coordinates: [9.955482, 53.545704]
Location: Ottensien, Coordinates: [9.918305, 53.55384]
Location: Rissen, Coordinates: [9.782443, 53.574136]
Location: Altona-Altstadt, Coordinates: [9.944656, 53.54942]
No results found for address: Orbäberg
Location: Eidelstedt, Coordinates: [9.917119, 53.60277]
Location: Hoheluft, Coordinates: [9.971832, 53.582165]
No results found for address: Barmode-Viord
No results found for address: Groß-Berufel
Location: Barmode-Süd, Coordinates: [10.363233, 53.397852]
No results found for address: Lagerbrözen
Location: Niendorf, Coordinates: [9.956324, 53.628182]
No results found for address: Üthermord
Location: Groß Flottbek, Coordinates: [9.878213, 53.563848]
No results found for address: Oxford
Location: Schnelsen, Coordinates: [9.919612, 53.637382]
Location: Groß Borstel, Coordinates: [9.986245, 53.608209]
No results found for address: Hönrin
Location: Volksdorf, Coordinates: [10.164392, 53.648625]
Location: Rahlstedt, Coordinates: [10.194686, 53.577184]
Location: Bahrenfeld, Coordinates: [9.928716, 53.553743]
Location: Eppendorf, Coordinates: [9.987248, 53.590237]
Location: Alsterdorf, Coordinates: [10.024278, 53.612342]
Location: Mümmelmannsberg, Coordinates: [10.139876, 53.529847]
Location: Farmsen-Berne, Coordinates: [10.115729, 53.611147]
Location: Hohenfelde, Coordinates: [10.022113, 53.561547]
Location: Horn, Coordinates: [10.089891, 53.554071]
Location: Hinschenfelde, Coordinates: [10.095611, 53.583189]
Location: Barmbek, Coordinates: [10.047322, 53.599761]
Location: Hamm, Coordinates: [10.026993, 53.547375]
Location: Wohldorf-Ohlstedt, Coordinates: [10.1306, 53.7019]
Location: Duvenstedt, Coordinates: [10.102956, 53.705186]
Location: Billstedt, Coordinates: [10.116632, 53.531899]
Location: Blankenese, Coordinates: [9.822165, 53.555249]
Location: Jenfeld, Coordinates: [10.134565, 53.57499]
No results found for address: Wilhelmbourg
Location: Barmbek-Nord, Coordinates: [10.047322, 53.599761]
Location: Bramfeld, Coordinates: [10.078595, 53.61775]
Location: Lurup, Coordinates: [10.25509, 53.663851]
Location: Ottensen, Coordinates: [9.918305, 53.55384]
No results found for address: Helfechty
Location: Barmbek-Süd, Coordinates: [10.041796, 53.580176]
Location: Osdorf, Coordinates: [9.889689, 53.567616]
Location: St. Georg, Coordinates: [10.012065, 53.554667]
No results found for address: HörnCity
Location: Hörn, Coordinates: [10.370436, 53.443561]
Location: Wilhelmsburg, Coordinates: [10.017514, 53.525744]
No results found for address: Blütscht
Location: Altona-Nord, Coordinates: [9.946058, 53.560739]
No results found for address: Röthenburgerstr
No results found for address: Borgficke
Location: Eimsbüttel, Coordinates: [9.953509, 53.56615]
No results found for address: Magazinpark-Galbek
No results found for address: Orbäderl
Location: - Schulenbrooksweg, Coordinates: [10.225871, 53.486153]
Location: Harburg), Coordinates: [9.98774, 53.457101]
Location: Harburg, Coordinates: [9.98774, 53.457101]
Location: - Baakenhafen, Coordinates: [10.007858, 53.53933]
Location: Wandsbek, Coordinates: [10.395124, 53.439452]
Location: Hamburg-Nord, Coordinates: [10.196264, 53.429866]
Location: - Amsinckstr., Coordinates: [10.01793, 53.544997]
Location: Harvestehude), Coordinates: [9.981823, 53.5753]
Location: Kanalplatz, Coordinates: [9.983955, 53.466621]
No results found for address: #### Harburg:
Location: Schulterblatt, Coordinates: [9.961356, 53.56248]
Location: HafenCity), Coordinates: [9.997519, 53.543207]
Location: St. Pauli), Coordinates: [9.955482, 53.545704]
Location: St. Georg), Coordinates: [10.012065, 53.554667]
Location: Borgfelde), Coordinates: [10.033234, 53.554248]
Location: Bergedorf), Coordinates: [10.228056, 53.485893]
No results found for address: - Gängeviertel
Location: Altona-Nord), Coordinates: [9.946058, 53.560739]
No results found for address: #### Wandsbek:
Location: - Westliche Shanghaiallee, Coordinates: [10.002333, 53.543276]
Location: - Bei der Schilleroper, Coordinates: [9.962182, 53.557995]
Location: - Harburger Schloßstr., Coordinates: [9.983414, 53.465212]
Location: Justus-Brinkmann-Str., Coordinates: [10.234067, 53.485575]
No results found for address: #### Hamburg-Mitte:
Location: - Max-Brauer-Allee, Coordinates: [9.94628, 53.557302]
No results found for address: #### Hamburg-Nord:
Location: - Sophienterrasse, Coordinates: [9.995146, 53.57641]
No results found for address: #### Eimsbüttel:
Location: - Wentorfer Str., Coordinates: [10.288695, 53.512372]
Location: Altona, Coordinates: [10.358679, 53.448383]
Location: Norderstr., Coordinates: [10.372939, 53.435064]
Location: Hamburg-Mitte, Coordinates: [10.096685, 53.571685]

In [ ]:
geocoded_df.to_excel('geocode_deepseek_no_numbers.xlsx', index=False)